name: Building

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop ]

jobs:
  Building_The_Package:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: List available Xcode versions
      run: ls /Applications | grep Xcode
    - name: Select Xcode version
      run: sudo xcode-select -s '/Applications/Xcode_16.2.app/Contents/Developer'
    - name: Show current version of Xcode
      run: xcodebuild -version
    - name: Build macOS
      run: swift build -v
    - name: Build iOS
      run: xcodebuild build -scheme 'sRouting' -destination 'generic/platform=iOS Simulator'