
name: Unit Testing

on:

  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop ]
jobs:
  Run_Unit_Tests:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode version
      run: sudo xcode-select -s '/Applications/Xcode_26.2.app/Contents/Developer'
    - name: Show current version of Xcode
      run: xcodebuild -version
    - name: Run macOS tests
      run: swift test --enable-code-coverage
    - name: Prepare Code Coverage
      run: xcrun llvm-cov export -format="lcov" .build/debug/sRoutingPackageTests.xctest/Contents/MacOS/sRoutingPackageTests  -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
